{% extends 'base.html' %}

{% block content %}
<!-- Image -->
<div class="container">
		
		    <ul class="row">
		    	{% if object.image%}
		        <img class="single-image-view col-md-4 img-responsive"  alt="" src="{{ media_url }}{{ object.image.url}}"  />
		        <div class="description col-md-8">
		        	{% if object.title %}
		             <div class="title">{{ object.title }}</div>
		            {% endif %}


		        	<p>{{object.description}}</p>
		        </div>
		        {% endif %}
		    </ul>
		
</div>
{% endblock %}