{% extends 'base.html' %}

{% block content %}
    <div class="container">

           

                    {%block Content%}
                        <form action="/upload/" method="post">
                            <a href="{% url 'upload' %}" class="btn btn-success">Add Image</a>
                        </form>
                
                    {%endblock%} 
                      
                        <ul >
                            {% for album in albums.object_list %}
                                <div class="title"><a href="/photo/album/{{album.id}}">{{ album.title }} ({{ album.image_set.count }} images)</a></div>
                              
                                    <div class="col-md-12">
                                    {% for img in album.images %}
                                    <div class="col-md-3 image-div" >
                                        <a  class="thumbnail image" href="/photo/image/{{ img.id}}"><img class="img-responsive" alt=""
                                            src="{{ media_url }}{{ img }}" /></a>
                                    </div> 
                                    {% endfor %}
                                    </div> 
                                
                               
                            {% endfor %}

                            
                        </ul>
                        
        <!-- Next/Prev page links  -->
        {% if albums.object_list and albums.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if albums.has_previous %}
                    <a href= "?page={{ albums.previous_page_number }}">previous &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ albums.number }} of {{ albums.paginator.num_pages }}
                </span>

                {% if albums.has_next %}
                    <a href="?page={{ albums.next_page_number }}"> &gt;&gt; next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
    </div>

{% endblock %}